
@using TeklifVer.UI.Models.CarBrand;

@model CarBrandCreateModel
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="CreateBrand" asp-controller="CarBrand" enctype="multipart/form-data">
    <div class="form-group">
        <label>Marka İsmi:</label>
        <input asp-for="@Model.Definition" class="form-control" />
    </div>
    <div class="form-group mt-3"><input type="file" asp-for="@Model.Image" /></div>
    <button type="submit" class="btn btn-primary mt-3">Oluştur</button>
</form>

