
@{
    Layout = "_Layout2";
}


  <div class="slider">
        <div class="slides">
        <div class="slide"><img src="https://cdn.motor1.com/images/mgl/BEGbM/s1/volkswagen-tiguan-ehybrid-2020.jpg" alt="Image 1"></div>
        <div class="slide"><img src="https://cdn-bnext.borusanotomotiv.com/media/WVWZZZAWZJY080717/242331_dfa16a43-ba7f-4894-a1cb-e2df2c6dde9f.jpg" alt="Image 2"></div>
            <div class="slide"><img src="https://cdn.motor1.com/images/mgl/y2pEzY/s3/vw-sondermodell-golf-edition-50.jpg" alt="Image 3"></div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
