@using TeklifVer.Dto.Car;
@model AdvertisingCreateDto
@{
    ViewData["Title"] = "İlan Oluştur";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<script src="~/js/Advertising/AdvertisementCreate.js"></script>

<div class="content">
    <form id="brandForm" method="post" asp-action="CreateAdvertising" asp-controller="Advertising">
        <div class="form-group">
            <label>Başlık:</label>
            <input placeholder="Başlık giriniz" name="definition" id="Definition" type="text" />
        </div>
        <div class="form-group">
            <label>Açıklama:</label>
            <input type="text" placeholder="Açıklama giriniz" name="Description" id="Description" />
        </div>
        <div class="form-group">
            <label>Marka Seçiniz:</label>
            <select name="BrandId" id="carBrandSelect"> </select>
        </div>

        <div class="form-group">
            <label>Model Seçiniz:</label>
            <select name="ModelId" id="carModelSelect"> </select>
        </div>
        <div class="form-group">
            <label>Sene:</label>
            <input type="number" id="Year" name="Year" min="1900" max="@DateTime.Now.Year" step="1" placeholder="YYYY">
        </div>

        <div class="form-group">
            <label>Fiyat:</label>
            <input placeholder="Fiyat bilgisi giriniz:" type="number" id="Price" name="Price">
        </div>
        <button class="button success" id="btnCreate" type="submit">Oluştur</button>
    </form>
</div>